@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* reset-password.css */

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.reset-password-box {
  background-color: #333;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  width: 95%; /* Increased box width by 5% */
  max-width: 450px; /* Adjusted max-width for responsiveness */
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reset-icon-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  margin-bottom: 1rem; /* Adjust margin as needed */
  height: 80px; /* Set a fixed height for icon container */
}

.reset-icon {
  font-size: 3rem; /* Increased icon size */
}

h2 {
  margin-bottom: 1rem;
}

.reset-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  color: #333; /* Text color */
  background-color: #eee; /* Light background color */
}

.reset-input::placeholder {
  color: #666; /* Placeholder text color */
}

.reset-button {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #444;
}

.reset-text {
  margin-top: 1rem; /* Added margin to separate from the button */
}

.reset-link {
  color: #0d6efd; /* Bootstrap primary color */
  text-decoration: none;
}




/* SupportPage */

/* Font and general styling */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}


/* Hero Section */
.hero-section {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}


/* Search Bar */
.search-input {
  background-color: transparent;
  border-color: #FFFFFF;
  border-width: 1px;
  padding-left: 48px;
  color: white;
}
.search-icon {
  left: 1rem; /* Adjust left value as needed */
  top: 50%;
  transform: translateY(-50%);
}

/* Responsive Placeholder for Search Bar */
.placeholder-right::placeholder {
  text-align: left;
  color: #FFFFFF;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background: #484848;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}

/* Support Box */
.support-box {
  background-color: rgba(72, 72, 72, 0.24); /* 24% opacity */
  border: 1px solid #A6A6A6;
}

/* Responsive Layout */
@media (max-width: 640px) {
  .text-4xl {
    font-size: 2rem;
  }

  .search-input {
    font-size: 0.875rem;
    padding-left: 40px;
  }

  .support-box {
    padding: 4px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .text-4xl {
    font-size: 3rem;
  }

  .search-input {
    padding-left: 44px;
  }
}



/* Rel-Quest2 Tooltip */

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 14px 8px;
  border-radius: 4px;
  z-index: 15;
}
